@use "../helpers" as *;

.aside {
  &__inner {
    display: block;
    // padding-bottom: rem(20);

    & > *:not(:last-child) {
      margin-bottom: fluid-to-laptop(40, 20);
    }

    &--sticky {
      position: sticky;
      top: rem(70);

      @include tablet {
        position: unset;
      }
    }
  }

  &__image-banner {
    height: rem(400);

    border-radius: var(--border-radius-xl);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;

      object-fit: cover;
      object-position: center center;
    }

    @include tablet {
      height: rem(320);
      border-radius: var(--border-radius-m);
    }

    @include mobile {
      height: rem(260);
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    overflow: hidden;
    padding: fluid-to-laptop(32, 24);

    &--mini {
      padding: 0;
      @include mobile {
        padding: rem(8) rem(16);
      }
    }

    &--center {
      text-align: center;
    }

    &--decor {
      &::after {
        @include square(rem(128));

        content: "";
        position: absolute;
        pointer-events: none;
        bottom: calc(100% - rem(80));
        left: calc(100% - rem(80));
        border-radius: 50%;
        opacity: 0.5;
        background: var(--color-orange-25);
        filter: blur(rem(60));
        transition-duration: var(--transition-duration-longer);
      }

      &:hover::after {
        opacity: 0.8;
      }
    }

    &--dark {
      padding: fluid-to-laptop(32, 28);
      background-color: var(--color-gray-10);
      color: var(--color-white);
      border-radius: var(--border-radius-m);
      align-self: start;

      h2,
      h3 {
        color: var(--color-white);
      }
    }

    &--banner-dark {
      background-color: var(--color-gray-10);
      color: var(--color-gray-50);
      border-radius: var(--border-radius-m);
      align-self: start;

      .individual-order__description {
        color: var(--color-gray-50);
      }

      h2,
      h3 {
        color: var(--color-white);
      }
    }

    &--banner-orange {
      background-color: var(--color-orange-15);
      color: var(--color-white);
      border-radius: var(--border-radius-m);
      align-self: start;

      h2,
      h3 {
        color: var(--color-white);
      }
    }
  }
}
