@use "../helpers" as *;
.badge {
  display: flex;
  column-gap: rem(8);
  align-items: center;
  align-self: start;
  justify-self: start;
  padding: rem(5) rem(12);
  color: var(--color-accent);
  font-size: rem(14);
  font-weight: 600;
  border: rem(1) solid var(--color-orange-30);
  border-radius: var(--border-radius-m);
  background-color: rgba(245, 73, 0, 0.2);

  &--dark {
    border: none;
  }

  &--gray {
    border: none;
    background-color: var(--color-gray-75);
    border-radius: var(--border-radius-s);
    color: var(--color-gray-30);
  }

  &--white {
    border: none;
    background-color: var(--color-white);
    border-radius: var(--border-radius-s);
    color: var(--color-gray-10);
    padding: rem(8) rem(14);
    font-weight: 500;
  }

  &--circl {
    &::before {
      content: "";

      @include square(rem(8));
      border-radius: var(--border-radius-l);
      background-color: var(--color-accent);
    }
  }
}
