@use "../helpers" as *;
.badge {
  display: flex;
  column-gap: rem(8);
  align-items: center;
  align-self: start;
  padding: rem(5) rem(12);
  color: var(--color-accent);
  font-size: rem(14);
  font-weight: 600;
  border: rem(1) solid var(--color-orange-30);
  border-radius: var(--border-radius-m);
  background-color: var(--color-orange-50);

  &--circl {
    &::before {
      content: "";

      @include square(rem(8));
      border-radius: var(--border-radius-l);
      background-color: var(--color-accent);
    }
  }
}
