@use "../helpers" as *;

.content {
	--space-lg: #{rem(40)}; // h2
	--space-md: #{rem(32)}; // h3, h4
	--space-sm: #{rem(16)}; // flow + h5/h6
}

/* базовый ритм */
.content>*+* {
	margin-top: var(--space-sm);
}

/* иерархия заголовков */
.content>*+h2 {
	margin-top: var(--space-lg);
}

.content>*+h3,
.content>*+h4 {
	margin-top: var(--space-md);
}

.content>*+h5,
.content>*+h6 {
	margin-top: var(--space-sm);
}