@use "../helpers" as *;

.grid {
  --cols: 1;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: fluid-to-laptop(25, 20);

  &--cols-2 {
    --cols: 2;
  }

  &--cols-3 {
    --cols: 3;

    @include tablet {
      --cols: 2;

      .grid__item:nth-child(odd):last-child {
        grid-column: -1 / 1;
      }
    }

    @include mobile {
      --cols: 1;
    }
  }

  &--cols-4 {
    --cols: 4;

    @include tablet {
      --cols: 2;
    }

    @include mobile-s {
      --cols: 1;
    }
  }
}
