@use "../helpers" as *;

.section {
  padding-block: var(--section-padding-block);

  &__header {
    margin-bottom: fluid-to-laptop(48, 26);
    &:has(.section__actions) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      flex-wrap: wrap;
    }

    &--center {
      text-align: center;

      & .section__head {
        row-gap: fluid-to-laptop(18, 14);
      }
    }
  }

  &__head {
    display: grid;
    row-gap: rem(8);
    align-items: end;
  }

  &__sub-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 700;
    color: var(--color-accent);

    &--gray {
      color: var(--color-gray-40);
    }

    &--padding-bottom-20 {
      padding-bottom: rem(20);
    }
  }

  &__description {
    font-size: rem(18);
    color: var(--color-gray-40);
  }

  &__actions {
    align-self: end;
  }

  &__link {
    display: flex;
    align-items: center;

    column-gap: rem(5);
    color: var(--color-gray-40);

    &::after {
      @include square(rem(20));

      content: "";
      background-image: url("../../icons/arrow-right.svg");
      background-repeat: no-repeat;
    }
  }
}
